<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{include/layout}">
<head>
<meta charset="UTF-8">
<title>MAIN</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div>
			<ul sec:authorize="isAnonymous()">
				<span>로그인 하고 PDF 를 마음껏 활용해보세요</span>
			</ul>
			<div sec:authorize="isAuthenticated()">
				<form id="uploadPdf" enctype="multipart/form-data">
					<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
					<input type="hidden" name="mem_id" th:value="${#authentication.name}">
					<input type="file" name="file"><br>
					<input type="submit" value="업로드">
				</form>
				
				<div id="loading" style="display:none;">처리중입니다 --</div>
				
			</div>		
		</div>
		<script>
			const form = document.getElementById("uploadPdf");
			const fileCheck = document.querySelector('input[name="file"]');
			
			form.addEventListener('submit',(e)=>{
				e.preventDefault();

				if(fileCheck.files.length === 0){
					Swal.fire({
						icon:'warning',
						title:'파일 누락',
						text:'파일을 등록해주세요'
					});
					return;
				}
				
				const file = fileCheck.files[0];
				const pdfCheck = ['application/pdf'];
				if(!pdfCheck.includes(file.type)){
					Swal.fire({
						icon:'warning',
						title:'유효하지 않은 파일',
						text:'PDF 파일만 업로드할 수 있습니다.'
					});
					return;
				}
				
				document.getElementById('loading').style.display = 'block';
				
					const upload = new FormData(form);
					const csrfToken = document.querySelector('input[name="_csrf"]').value;
					upload.append("_csrf", csrfToken);
					fetch('/uploadPdf',{
						method:'post',
						body:upload
					})
					.then(response => response.json())
					.then(data=>{
						document.getElementById('loading').style.display = 'none';
						if(data.res_code == "200"){
							location.href = "/pdfDetail";
						}else{
							Swal.fire({
								icon:'error',
								title:'실패입니다',
								text:data.res_msg
							});
						}
					})
					.catch(error => {
						console.error('업로드 중 오류;', error);
						Swal.fire({
							icon:'error',
							title:'서버 오류',
							text:'파일 업로드 중 문제가 발생했습니다.'
						})
					})
			});
		</script>
	</th:block>
</body>
</html>