<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="headerLayout">
		<!--  <link th:href="@{/css/include/common.css}" rel="stylesheet" type="text/css">
		<link th:href="@{/css/include/header.css}" rel="stylesheet" type="text/css">  -->
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<header>
			<div>
				<div>
					<h3>
						<a class="user" th:href="@{/home}">PDF_TIGHT</a>
					</h3>
				</div>
			</div>		
		</header>
	</th:block>
</html>